{:duct.core/project-ns  clj-ebis2
 :duct.core/environment :production

 :duct.module/logging {}
 :duct.module.web/site {}
 :duct.module/sql {}

 :duct.module/ataraxy
 {[:get "/example"] [:example]}

 :clj-ebis2.handler/example
 {:db #ig/ref :duct.database/sql}

 :duct.module/message {}

 :clj-ebis2.boundary/message #ig/ref :duct.message/pubsub
}
